#kanbutton {
    background-image: -moz-linear-gradient(top, #ffffff, #dbdbdb);
    border: 1px solid #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 2px 5px;
    text-decoration: none;
    text-shadow: #fff 0 1px 0;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    color: #597390;
    line-height: 24px;
    font-size: 20px;
    font-weight: bold;
}

#kanbutton:hover {
    background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
    color: #000;
}

#kanbutton:active {
    background-image: -moz-linear-gradient(top, #dbdbdb, #ffffff);
    text-shadow: 0px -1px 0 rgba(255, 255, 255, 0.5);
    margin-top: 1px;
}

.column-view a.bz {
    text-align: center;
    display: block;
    border-radius: 3px 3px 3px 3px !important;
    color: white !important;
    text-decoration: none !important;
    background: none repeat scroll 0% 0% rgb(51, 51, 51) !important;
    padding: 2px 10px !important;
    border: 1px solid black !important;
    font-size: 11px !important;
    line-height: 16px !important;
}
